.center {
    margin-left: auto;
    margin-right: auto;
  }

body {
    background-image: url("https://ychef.files.bbci.co.uk/976x549/p02cwn1m.jpg");
    background-color: #FAF9F6;
}

#body-header {
  width:30%; 
  height:40px; 
  background-color: #1c5786;
  color: white;
  border-radius: 9px;
  margin: auto;
  text-align: center; 
  padding: 10px 0px 10px 0px; 
  opacity: 0.9;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.container {
    text-align: center;
}

table {
    border-collapse: collapse;
}
  
td {
    width: 200px;
    text-align: center;
    border: 1px solid rgb(65, 37, 226);
    padding: 8px;
}
  
tr {
    background-color: beige;
}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1c5786;
    color: white;
}
  
.recipe-button {
    font-size: 1.1rem;
    border-collapse: collapse;
    background-color: rgb(43, 72, 156);
    color: white;
    margin-bottom: 20px ;
    border-radius: 9px;
    opacity: 0.9;
}

#submit-button {
    font-size: 1.0rem;
    border-collapse: collapse;
    border-radius: 9px;
    background-color: rgb(43, 72, 156);
    color: white;
    margin-bottom: 20px;
    opacity: 0.9;
}

#inputs {
    width:20%; 
    height:20%; 
    color: white;
    font-weight: bold;
    background-color: #1c5786;
    border-radius: 9px;
    margin: auto;
    text-align: center; 
    padding: 15px 5px 15px 5px; 
    opacity: 0.9;
}

#add-new-name {
    border-radius: 20px;
    border: 1px solid rgb(65, 37, 226);
    padding: 10px; 
    width: 160px;
    height: 2px; 
}

#add-new-image {
    border-radius: 20px;
    border: 1px solid rgb(65, 37, 226);
    padding: 10px; 
    width: 160px;
    height: 2px; 
}

#add-new-instructions {
    border-radius: 20px;
    border: 1px solid rgb(65, 37, 226);
    padding: 10px; 
    width: 160px;
    height: 2px; 
}

#add-new-ingredients {
    border-radius: 20px;
    border: 1px solid rgb(65, 37, 226);
    padding: 10px; 
    width: 160px;
    height: 2px; 
}

#add-cuisine {
    border-radius: 20px;
    border: 1px solid rgb(65, 37, 226);
    padding: 10px; 
    width: 160px;
    height: 2px; 
}

